* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(53, 139, 252);
    --font-white-color: rgb(247, 247, 247);
    font-family: "Roboto", sans-serif; 
}

a {
    text-decoration: none;
    color: var(--font-white-color);
}

svg {
    width: 1.3rem;
}

ul {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    row-gap: 3em;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-left: 2em;
    gap: 1em;
}

.main .main-right-content {
    grid-column: 3 / 4;
    grid-row: 1;
}

.main .main-left-content {
    
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.card {
    border-left: 8px solid #f0b429;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 1em;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1em;
}

.card-icons {
    
    margin-left: auto;
}

.card .card-title {
    font-weight: 700;
}

